<h1>Stock Balance</h1>
<div class="mb-2">
  <input class="form-control" placeholder="Filter" [(ngModel)]="filterText" (ngModelChange)="load()" />
</div>
<table class="table table-striped" *ngIf="filteredBalances.length">
  <thead>
    <tr>
      <th>Product</th>
      <th>Total In</th>
      <th>Total Out</th>
      <th>Net Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of filteredBalances">
      <td>{{ b.productName }}</td>
      <td>{{ b.totalIn }}</td>
      <td>{{ b.totalOut }}</td>
      <td>{{ b.netQuantity }}</td>
    </tr>
  </tbody>
</table>
